/* allerta-regular - latin */
@font-face
  font-family: 'Allerta'
  font-style: normal
  font-weight: 400
  src: local('Allerta Regular'), local('Allerta-Regular'), url('/fonts/allerta-v8-latin-regular.woff2') format('woff2'),  url('/fonts/allerta-v8-latin-regular.woff') format('woff')
*
  box-sizing: border-box
body
  margin: 0
  padding: 0
  text-align: center
  background: #43cbb5
  font-family: 'Allerta'
  
.title
  color: red
  text-transform: uppercase
button
  position: absolute
  top: 0
  font-size: 20px
  padding: 10px 40px
.task
  display: none
  background: #ffffff
  width: 100vw
  min-height: 100vh
  color: #000012
  position: fixed
  padding: 15% 20%
  background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%)
  .question
    font-size: 24px
    text-transform: uppercase
    text-align: left
    display: block
    img
      max-height: 300px
      position: absolute
      top: 50px
      right: 300px
  .answer_input
    display: block
    margin-bottom: 30px
  .btn
    display: block
    max-width: 300px
    position: relative
  .playAudio
    background: transparent
    border: none
    img
      position: relative

h3
  text-transform: uppercase
  color: red
  font-size: 30px
  margin: 15px auto

.passLevelModal, .loseGameModal, .winGameModal
  display: none
  width: 400px
  position: fixed
  top: 100px
  left: calc(50% - 200px)
  button
    position: relative
    cursor: pointer

.loseGameModal, .winGameModal
  .flex-wrapper
    display: flex
    justify-content: space-between
